<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005267707114-v2uphrqus1k8vscslj7f4cl22i2eguhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005267707114-v2uphrqus1k8vscslj7f4cl22i2eguhu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1005267707114-931dnttvdl339eu1vtlcjsk2ohu8sdp1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk9URc31HYCVALFCQK3N08x7qsyCokVUk</string>
	<key>GCM_SENDER_ID</key>
	<string>1005267707114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatsapp2.app</string>
	<key>PROJECT_ID</key>
	<string>whatsappi-2</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappi-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005267707114:ios:14b5f8b05e4d3d9f6d2393</string>
	<key>DATABASE_URL</key>
	<string>https://whatsappi-2-default-rtdb.firebaseio.com</string>
</dict>
</plist>